*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

$grey-clr1: hsl(0, 0%, 55%);
$grey-clr2: hsl(0, 0%, 41%);

ul {
    list-style: none;
}

a {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
    text-align: center;
}

h1 {
    text-align: left;
    font-size: clamp(5rem, 5vw, 7rem);
}

h2 {
    font-size: clamp(4rem, 5vw, 6rem);
}

h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

p {
    color: $grey-clr1;
}